<div id="vvaa-service">
    <div id="service-wrapper">
        <form id="service-search" class="search" onsubmit="search(event)">
            <input type="search" autocomplete="off" id="searchbar" placeholder="Waar gaat uw vraag over?" oninput="searchSuggest(this)" onkeydown="checkInput(this)" />
            <input type="submit" id="submit" value="Zoeken"/>
        </form>
    </div>
    <div id="overlay" onclick="closeSuggest()"></div>
    <div id="search-results">
    </div>
    <div id="feedback-search">
    </div>
    <div id="escalations-search" style="display: none;">
        <h4>Contact</h4>
        <h5>Hoe wilt u contact opnemen?</h5>
        <div class="row" id="channels">
            <div class="col-md-4 escalation-block escalation-block--search" id="search_esc_chat" onclick="liveChat('search')">
                <div class="block-inner escalation-search" data-type="livechat">
                    <img src="https://www.vvaa.nl/-/media/service/icons/gray/chat.svg" />
                    <h3 class="open">Chat met ons</h3>
                    <h3 class="closed">Laat een bericht achter</h3>
                    <span class="availability"><i>Beschikbaar</i><b>&nbsp;</b></span>
                    <p class="open">Binnen 45 sec. reactie</p>
                    <p class="closed">&nbsp;</p>
                    <span class="open">Ma t/m vr 8.00 - 17.00</span>
                    <span class="closed">Reactie op ma t/m vr 8.00 - 17.00</span>
                </div>
            </div>
            <div class="col-md-4 escalation-block escalation-block--search" id="search_esc_call_ls" onclick="showPhoneNumber(this)">
                <a href="tel:0302474789" class="block-inner escalation-search" data-type="telefoon">
                    <img src="https://www.vvaa.nl/-/media/service/icons/gray/telefoon.svg" />
                    <h3>Bekijk telefoonnummer</h3>
                    <h4>030 247 47 89</h4>
                    <span class="availability"><i>Beschikbaar</i><b>Niet beschikbaar</b></span>
                    <p>Binnen 1 min. reactie</p>
                    <span>Ma t/m vr 8.00 - 17.00</span>
                </a>
            </div>
            <div class="col-md-4 escalation-block escalation-block--search" id="search_esc_messenger">
                <a href="https://www.facebook.com/vvaaNL" class="block-inner escalation-search" data-type="messenger" target="_blank">
                    <img src="https://www.vvaa.nl/-/media/service/icons/gray/fb-messenger.svg" />
                    <h3>Stuur een bericht</h3>
                    <span class="availability"><i>Beschikbaar</i><b>Niet beschikbaar</b></span>
                    <p>Binnen 1 uur reactie</p>
                    <span>Ma t/m vr 8.00 - 17.00</span>
                </a>
            </div>
        </div>
    </div>
    <div id="category-select">
        <h3>Zoek tussen de veelgestelde vragen</h3>
        <img src="https://www.vvaa.nl/-/media/service/icons/spinner.gif" id="loader" />
        <div class="row" id="categories"></div>
    </div>
    <div id="subcategories">
        <div class="row">
            <div class="col-md-6">
                <h4>Selecteer een onderwerp</h4>
                <div id="subcat-lists"></div>
            </div>
            <div class="col-md-6">
                <div id="question-section">
                    <h4>Wat is uw vraag?</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="faq-section">
                <img src="https://www.vvaa.nl/-/media/service/icons/spinner.gif" id="faq-loader" />
            </div>
            <div id="escalations" style="display: none;">
                <h4>Contact</h4>
                <h5>Hoe wilt u contact opnemen?</h5>
                <div class="row" id="channels">
                    <div class="col-md-4 escalation-block escalation-block--tree" id="esc_chat" onclick="liveChat('tree')">
                        <div class="block-inner" data-type="livechat">
                            <img src="https://www.vvaa.nl/-/media/service/icons/gray/chat.svg" />
                            <h3 class="open">Chat met ons</h3>
                            <h3 class="closed">Laat een bericht achter</h3>
                            <span class="availability"><i>Beschikbaar</i><b>&nbsp;</b></span>
                            <p class="open">Binnen 45 sec. reactie</p>
                            <p class="closed">&nbsp;</p>
                            <span class="open">Ma t/m vr 8.00 - 17.00</span>
                            <span class="closed">Reactie op ma t/m vr 8.00 - 17.00</span>
                        </div>
                    </div>
                    <div class="col-md-4 escalation-block escalation-block--tree" id="esc_call_ls" onclick="showPhoneNumber(this)">
                        <a href="tel:0302474789" class="block-inner" data-type="telefoon">
                            <img src="https://www.vvaa.nl/-/media/service/icons/gray/telefoon.svg" />
                            <h3>Bekijk telefoonnummer</h3>
                            <h4>030 247 47 89</h4>
                            <span class="availability"><i>Beschikbaar</i><b>Niet beschikbaar</b></span>
                            <p>Binnen 1 min. reactie</p>
                            <span>Ma t/m vr 8.00 - 17.00</span>
                        </a>
                    </div>
                    <div class="col-md-4 escalation-block escalation-block--tree" id="esc_call_ss" onclick="showPhoneNumber(this)">
                        <a href="tel:0302474886" class="block-inner" data-type="telefoon">
                            <img src="https://www.vvaa.nl/-/media/service/icons/gray/telefoon.svg" />
                            <h3>Bekijk telefoonnummer</h3>
                            <h4>030 247 48 86</h4>
                            <span class="availability"><i>Beschikbaar</i><b>Niet beschikbaar</b></span>
                            <p>Binnen 1 min. reactie</p>
                            <span>Ma t/m vr 8.00 - 17.00</span>
                        </a>
                    </div>
                    <div class="col-md-4 escalation-block escalation-block--tree" id="esc_messenger">
                        <a href="https://www.facebook.com/vvaaNL" class="block-inner" data-type="messenger" target="_blank">
                            <img src="https://www.vvaa.nl/-/media/service/icons/gray/fb-messenger.svg" />
                            <h3>Stuur een bericht</h3>
                            <span class="availability"><i>Beschikbaar</i><b>Niet beschikbaar</b></span>
                            <p>Binnen 1 uur reactie</p>
                            <span>Ma t/m vr 8.00 - 17.00</span>
                        </a>
                    </div>
                    <div class="col-md-4 escalation-block escalation-block--tree" id="esc_mijnvvaa">
                        <a href="https://vvaa.nl/mijnvvaa/home" class="block-inner" data-type="mijn vvaa" target="_blank">
                            <img src="https://www.vvaa.nl/-/media/service/icons/gray/mijnvvaa.svg" />
                            <h3>Regel zelf met Mijn VvAA</h3>
                            <span class="availability available">24/7 beschikbaar</span>
                            <p>Direct geregeld</p>
                            <span>&nbsp;</span>
                        </a>
                    </div>
                    <div class="col-md-4 escalation-block escalation-block--tree" id="esc_app">
                        <a class="block-inner" target="_blank" id="app-block" data-type="vvaa app">
                            <img src="https://www.vvaa.nl/-/media/service/icons/gray/vvaa-app.svg" />
                            <h3>Regel zelf met de app</h3>
                            <span class="availability available">24/7 beschikbaar</span>
                            <p>Direct geregeld</p>
                            <span>&nbsp;</span>
                        </a>
                    </div>
                    <div class="col-md-4 escalation-block escalation-block--tree" id="esc_whatsapp" onclick="showPhoneNumber(this)">
                        <a href="whatsapp://send?phone=+31683337142" class="block-inner" data-type="whatsapp">
                            <img src="https://www.vvaa.nl/-/media/service/icons/gray/whatsapp.svg" />
                            <h3>Whatsapp ons</h3>
                            <h4>06 833 371 42</h4>
                            <span class="availability available">Beschikbaar</span>
                            <p>Binnen 4 uur reactie</p>
                            <span>Ma t/m vr 8.00 - 17.00</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="self-service">
        <h3>Regel het eenvoudig zelf</h3>
        <div class="row">
            <div class="col-sm-6">
                <a href="https://vvaa.nl/mijnvvaa/home" target="blank" class="selfservice-block">
                    <img src="https://www.vvaa.nl/-/media/service/icons/gray/mijnvvaa.svg" />
                    <h4>MijnVvAA</h4>
                    <span>24/7 beschikbaar</span>
                </a>
                <ul>
                    <li>Uw producten en diensten inzien en wijzigen</li>
                    <li>Uw persoonlijke gegevens beheren</li>
                    <li>Eenvoudig online schade melden</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <a id="vvaa-app" target="blank" class="selfservice-block">
                    <img src="https://www.vvaa.nl/-/media/service/icons/gray/vvaa-app.svg" />
                    <h4>VvAA-app</h4>
                    <span>24/7 beschikbaar</span>
                </a>
                <ul>
                    <li>Uw producten en diensten inzien en wijzigen</li>
                    <li>Uw persoonlijke gegevens beheren</li>
                    <li>Eenvoudig online schade melden</li>
                    <li>Altijd toegang tot exclusief ledenvoordeel</li>
                    <li>Uw digitale ledenpas altijd op zak</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sos">
        <h3>Spoedeisende hulp nodig?</h3>
        <p>Bel Artsen Alarm Service. Zij staan dag en nacht voor u klaar. Ook vanuit het buitenland.</p>
        <a href="tel:0302412908"><img src="https://www.vvaa.nl/-/media/service/icons/gray/telefoon.svg" />030 241 29 08</a>
    </div>
    <div id="more-help" class="col-md-8 col-md-offset-2 column">
        <h3>Onze adviseurs krijgen een 8,8</h3>
        <p>Onze gecertificeerde adviseurs staan voor u klaar met kennis en advies, specifiek voor uw persoonlijke situatie als zorgverlener. Zowel privé als zakelijk. Wat uw vraag ook is, wij denken mee vanuit uw belang en helpen u verder. Niet voor niets waarderen leden onze service met een 8,8.</p>
        <div id="options-wrapper">
            <img src="https://www.vvaa.nl/-/media/service/ledenservice.jpg" />
        </div>
    </div>
    <div id="bot">
        <div id="bot_header">
            <img src="https://www.vvaa.nl/-/media/service/icons/vive.svg" />
            <span id="closeBot"><img src="https://www.vvaa.nl/-/media/service/icons/white/minus.svg" /></span>
            <h5>Chat met Vive</h5>
            <h6>Virtuele Assistent</h6>
        </div>
        <div id="bot_body">
            <div id="waiting-element">
                <p>
                    <img src="https://www.vvaa.nl/-/media/service/icons/typing.svg" />
                </p>
            </div>
        </div>
        <div id="bot_input">
            <form onsubmit="submitText(event)">
                <input type="text" id="textinput" autocomplete="off" placeholder="Typ hier uw bericht..." />
                <button type="submit"><img src="https://www.vvaa.nl/-/media/service/icons/submit.svg" /></button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script type="text/javascript" src="https://www.vvaa.nl/-/media/service/service.js"></script>
<script type="text/javascript" src="https://www.vvaa.nl/-/media/service/va.js"></script>
<script>
    var linkElementOne = document.createElement("link");
    linkElementOne.rel = "stylesheet";
    linkElementOne.href = "https://use.typekit.net/bsa2cee.css";
    var linkElementTwo = document.createElement("link");
    linkElementTwo.rel = "stylesheet";
    linkElementTwo.href = "https://www.vvaa.nl/-/media/service/scss/bundlemin.css";
    var linkElementThree = document.createElement("link");
    linkElementThree.rel = "stylesheet";
    linkElementThree.href = "https://www.vvaa.nl/-/media/service/bot.css";
    document.head.appendChild(linkElementOne);
    document.head.appendChild(linkElementTwo);
    document.head.appendChild(linkElementThree);
</script>
