cxco-root .cxco-c-article h1 {
    font-size: 21px;
}

cxco-root .cxco-c-article {
    margin-bottom: 48px;
}

cxco-root .cxco-c-article:first-child {
    display: none;
}

cxco-root .cxco-c-article .cxco-c-article {
    padding-left: 20px;
    margin-bottom: 0;
}

cxco-root .cxco-c-article .cxco-c-article h1 {
    font-size: 18px;
}

cxco-root .cxco-c-faq__description {
    display: none;
}

cxco-root .cxco-c-faq {
    margin-bottom: 10px;
}

cxco-root .cxco-c-faq__title a {
    color: gray;
    font-size: 14px;
}
