#question-section {
    ul {
        list-style: none;
        padding: 0;
        li {
            cursor: pointer;
            transition: all .2s;
            border: 1px solid $dark-gray;
            color: white;
            color: black;
            font-size: 18px;
            margin-bottom: 15px;
            line-height: 28px;
            padding: 15px;
            font-family: Arial, sans-serif !important;
            &:hover {
                background: $light-gray;
            }
            &.active {
                border: 1px solid #f5821f;
                color: #f5821f;
                font-weight: 700;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#faq-section {
    background: $light-gray;
    padding: 24px 80px 28px 80px;
    position: relative;
    display: none;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $light-gray;
        width: 2000px;
        margin-left: -2000px;
        content: "";
    }
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: $light-gray;
        width: 2000px;
        margin-right: -2000px;
        content: "";
    }
    .faq {
        overflow: hidden;
        background: white;
        border-radius: 3px;
        padding: 32px 24px;
        h3 {
            color: $orange;
            font-size: 20px;
        }
        p {
            font-family: 'Arial', sans-serif !important;
            font-size: 16px;
            margin-bottom: 20px;
            &:last-child, &:last-of-type {
                margin-bottom: 0;
            }
            a {
                font-family: 'Arial', sans-serif !important;
            }
        }
        ul {
            margin: 15px 0;
            li {
                font-weight: 100 !important;
                font-family: 'Arial', sans-serif !important;
            }
        }
    }
}

#fulfilled, #fulfilled-search {
    overflow: hidden;
    margin-top: 28px;
    h4 {
        margin: 0 32px 0 0;
        float: left;
        line-height: 32px;
    }
    .button {
        cursor: pointer;
        border: 1px solid #f5821f;
        color: #f5821f;
        background: white;
        padding: 0 40px;
        font-size: 16px;
        height: 32px;
        line-height: 32px;
        border-radius: 3px;
        font-family: 'Arial', sans-serif !important;
        float: left;
        margin-right: 20px;
        transition: all .2s;
        + .button {
            margin-right: 0;
        }
        &:hover {
            background: $orange;
            color: white;
        }
    }
}

#fulfilled-search {
    margin: 0 90px 28px 90px;

}
.feedback-thanks {
    display: none;
    background: white;
    clear: both;
    float: left;
    padding: 15px 15px 13px 15px;
    border: 2px solid #39c661;
    color: #39c661;
    border-radius: 3px;
}

@media screen and (max-width: 992px) {
    #fulfilled, #fulfilled-search {
        h4 {
            margin-right: 10px;
        }
        .button {
            padding: 0 20px;
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    #fulfilled h4, #fulfilled-search h4 {
        margin-bottom: 10px;
        float: none;
    }
    #faq-section {
        padding: 24px 0 28px 0;
    }
}
